.container {
    background-color: #1A1A1D;
    color: white;
    padding: 10px 0px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.8);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.optionsWindowContainer {
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s;
}

.optionsWindowWrapper {
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.4);
    background: #fff;
    border-radius: 2px;
    transform: translateY(-100%);
    transition: transform 0.5s, opacity 0.25s;
    min-width: 200px;
    padding: 5px;
    padding-bottom: 10px;
    align-items: center;
    position: fixed;
}

.activeContainer {
    opacity: 1;
}

.activeWindow {
    transform: translateY(0);
    opacity: 1;
}

.input {
    margin-top: 5px;
    display: block;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 2px;
    font-size: 20px;
}

.label {
    font-size: 20px;
}

.btn {
    margin-top: 10px;
}