@import "../../../variables.scss";

.container {
    width: 90%;
    box-shadow: $shadow;
    padding: 10px;
    gap: 20px;
    border-radius: $b-radius;
    margin-bottom: 20px;
    position: relative;
}

.name {
    margin-bottom: 10px;
}

.photo {
    border-radius: 50%;
}

.firstEl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

.x {
    position: absolute;
    right: 10px;
}

.x {
    svg {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            fill: rgb(54, 54, 54);
        }
    }
}