@import "./variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.settings {
    background-color: $dark-gray;
    color: $text-color;
    transition: all 0.5s, width 0.3s;
    width: 100%;
    overflow: hidden;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;


        li {
            cursor: pointer;
            margin: 0;
            display: flex;
            padding: 10px 15px;
            transition: background-color .1s;
            position: relative;

            &:hover {
                background-color: #494e53;
            }

            p {
                margin-left: 5px;
            }
        }
    }
}

a {
    color: $text-color;
    text-decoration: none;
}

.scrolled {
    transform: translateX(-100%);
}

.scrolled2 {
    width: 100vw;
}

.main {
    transition: 10s;
}