@import "./variables.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.settings {
    background-color: $dark-gray;
    color: $text-color;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;


        li {
            margin: 0;
            display: flex;
            padding: 10px 5px;
            transition: background-color .1s;

            &:hover {
                background-color: #494e53;
            }

            p {
                margin-left: 5px;
            }
        }
    }
}

a {
    color: $text-color;
    text-decoration: none;
}