form {
    width: 60%;

    div {
        display: flex;
        flex-direction: column;
        margin: 10px 0;

        &:first-child {
            margin: 0;
        }
    }
}

.container {
    padding: 10px 15px;
    display: flex;;
    box-sizing: border-box;
    height: 100%;
}